.comment{
	//border-bottom: 1px solid $lt-grey;
	//padding: 8px 0 8px;
	.col1{
		max-width: 90px;
	}
	.col5{
		padding-left: $smallest-font;
		//margin-top: 10px;
		a {
			color: $main-blue;
		}
	}
}
//hr{
//	background-color: green;
//}