<% provide(:title, 'About Us') %>
<section class="wrapper aboutUs">
	
<div class="row white_well">
	
	<header class="row bottom_border">
		<h1>About Slinggit</h1>
	</header>
	
	<article class="col3 pull_left well">
		<p>Slinggit is built in sunny Denver, CO.  We're using the best technologies available to us to give you a streamlined experience and help you close transactions faster than on any other e-comm platform out there. </p>
		<p>It’s no secret that social networks are a key component in the modern e-commerce platform.  We know Slinggit isn't your only option, however, we believe we have a unique and highly effective offering in this young and growing space.</p>
		<p>Our mission is simple, it’s to be the fastest way for you to find and buy the things you want and sell the things you don't.  Yep, it's that simple.  We hope you’ll give Slinggit a go!</p>
	</article>
	
<!-- PROFILES -->
	<aside class="col3 pull_right grey_well">
		
		<header class="row bottom_border">
			<h1>The guys behind Slinggit are&hellip;</h1>
		</header>
		
		<div class="row">
			<figure class="col2 pull_left img_border">
				<%= image_tag('aboutUs/profile_chris_180x180.jpg', width: '100%', height: 'auto', title: 'Chris Klein', alt: 'Picture of Chris Klein') %>
				<a href="https://twitter.com/_chrisklein" title="@_chrisklein" class="ss-twitter ss-social">@_chrisklein</a>
			</figure>
			<figcaption class="col4 pull_right">Chris Klein <span class="top_border">Javascript, Ruby, whatever it takes.  CEO.  Ohio Buckeye. Graduate of The Ohio State University and University of Denver.  Passion for building things he thinks people need.  Thinks this is one of them.  Lives in Denver, CO with wife, dog and cat.</span></figcaption>
		</div>
		
		<div class="row">
			<figure class="col2 pull_left img_border">
				<%= image_tag('aboutUs/profile_phil_180x180.jpg', width: '100%', height: 'auto', title: 'Phil Beadle', alt: 'Picture of Phil Beadle') %>
				<a href="https://twitter.com/philslinggit" title="@philslinggit" class="ss-twitter ss-social">@philslinggit</a>
			</figure>
			<figcaption class="col4 pull_right">Phil Beadle <span class="top_border">iOS and Android. VP of Mobile. I don&rsquo;t always sell my stuff, but when I do I prefer Slinggit.</span></figcaption>
		</div>
		
		<div class="row">
			<figure class="col2 pull_left img_border">
				<%= image_tag('aboutUs/profile_dan_180x180.jpg', width: '100%', height: 'auto', title: 'Dan Logan', alt: 'Picture of Dan Logan') %>
				<a href="https://twitter.com/danclogan" title="@danclogan" class="ss-twitter ss-social">@danclogan</a>
			</figure>
			<figcaption class="col4 pull_right">Dan Logan <span class="top_border">Rails guru. CTO. Montana mountain man now living in Centennial, CO.  StarCraft II junkie.  World's #1 ATB fan. Broncos for life. Looking forward to slingging Broncos tickets to friends.</span></figcaption>
		</div>		
		
		<div class="row">
			<figure class="col2 pull_left img_border">
				<%= image_tag('aboutUs/profile_chase_180x180.jpg', width: '100%', height: 'auto', title: 'Chase Courington', alt: 'Picture of Chase Courington') %>
				<a href="https://twitter.com/ChaseCourington" title="@chasecourington" class="ss-twitter ss-social">@chasecourington</a>
			</figure>
			<figcaption class="col4 pull_right">Chase Courington <span class="top_border">HTML/CSS. VP of UX. Craft beer, typography and responsive design. Has a garage full of snowboarding gear to sling. Lives in Denver, CO with his wife.</span></figcaption>
		</div>
		
	</aside>
<!-- END -->

</div>
</section>	
