<% provide(:title, 'Banned') %>
<header class="row">
	<h1 class="col4 offset1">You have been banned so hard!</h1>
</header>

<div class="row">
	<p class="col4 offset1">If you feel you have reached this page in error, please contact customer support.</p>
</div>
