<% provide(:title, 'Help') %>
<section class="wrapper getHelp">
	<header class="row">
		<h1 class="bottom_border">Help</h1>
	</header>
	
	<div class="col3 pull_left grey_well">
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">How it Works</h2>
				<p>Slinggit is a free web application that can be accessed from your desktop, laptop and mobile device.  We have a free iOS app available as well.  With it you can buy from and sell to your friends, followers and searching buyers. Slinggit leverages features in common social networks that you're already familiar with to greatly speed up the transaction process.  From Slinggit you can make a single post that is shared across your social networks.  You may ask questions about posted items and see what others have asked.  You can also interact directly and privately with buyers and sellers alike.  You'll have insight into how many people are interested in a item at any given time.  You can provide feedback to help sell future items.  Slinggit is highly interactive and simple to use.  It's the fastest way to git the things you want and sling the things you don't.</p>
			</div>
		</article>
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Buying</h2>
				<p>Slinggit postings can be found in Twitter and Facebook searches based on location and item.  They can be found in your Facebook and Twitter friends' feeds.  They are also posted to the Slinggit Twitter, Facebook and application feeds.  You can communicate directly with the seller through your social networks or follow the post back to Slinggit to see the full details and engage the seller there.  Post details include photos, public questions and tracking of interested buyers. You are free to ask questions, engage the seller privately, or simply take an interest and watch how things play out.  The sales transaction is up to you and the seller to complete. Cash, paypal, barter, whatever.  You know how to get a deal done.</p>
			</div>
		</article>	
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Selling</h2>
				<p>Selling with Slinggit is fast, easy and controlled.  It's fast in that we encourage brevity and clarity in your post.  It's faster in that we've created a mobile optimized platform for you to create your brief and clear posts.  It's even faster in that with a click of a button this post is broadcast to your social networks of choice.  It's easy because this can all be done from most any device all on one screen.  It's controlled in that we encourage feedback from buyers to sellers and we move the sales cycle along, gently encouraging you to close your sale and helping you as much as possible to do so.  A fresh marketplace keeps people coming back and keeps you selling.  Remember, not all things are appropriate for sale on Slinggit for a variety of reasons.  Please use your best judgement when posting.  Finally, it's controlled in that Slinggit has plans of action and safeguards in place to keep the market fresh, relevant, and free of inappropriate content.</p>
			</div>
		</article>
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Convention</h2>
				<p>You'll notice that Slinggit posts have #hashtags. The hastag allows that post to be searchable through Twitter and Facebook, increasing the chance that your item is found by a buyer.  We believe that the more simple and common an item's name and location are the better chance it has of being exposed to a larger buyer market. Take the following example:</p>
				<p class="col4 offset1 white_well">#156cmsnowboardforsale</p>
				<p>That's pretty descriptive but someone has to be very specific with their search term to find it. A better item name might be: </p>
				<p class="col4 offset1 white_well">#snowboardforsale</p>
				<p>Now the item is much more findable and the details can be brought out through the item description.</p>
				<p>Items also get # for location.  This allows potential buyers to narrow their search by locality.  For example, you might name your item snowboard and set your location as Denver.  A potential buyer searching for the following would find your item:</p>
				<p class="col4 offset1 white_well">#snowboardforsale #denver</p>
				<p>Did you know you can save searches in Twitter?  So if you're looking for, say, a snowboard in denver, you can save that search and easily return to it at anytime.  You can even keep that search up in a browser or your favorite tweet aggregator and see postings pop up in real time.</p>
			</div>
		</article>
		
	</div>
	
	<div class="col3 pull_right grey_well">
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Mobile</h2>
				<p>We have designed and built Slinggit specifically to be used with mobile devices.   We have a free, native iOS app for iPhone users and our mobile web site is extremely lightweight and fully functional for Android and Windows Phone users.  Quickly snap photos or use existing ones from your mobile gallery, add an appropriate, searchable name and a concise description, then share it with your social networks of choice.  Done.  Our mission is to give you a highly functional and easy to use product that may be light on the bling, but makes up for it in all around speed of sale.</p>
			</div>
		</article>
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Accounts</h2>
				<p>When you sign up with Slinggit you can connect your Twitter account right away. Don't worry if you forgot, you can always add it later. You don't need Twitter and/or Facebook to use Slinggit, but we highly recommend it as your social networks provide the platform you need to significantly shorten the sales cycle.  You may add more accounts at anytime.  We allow you to add multiple Twitter accounts in the event you have more than one, possibly for use in your business.</p>
			</div>
		</article>
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Security</h2>
				<p>HTTPS everywhere (except the blog, it's hosted by Tumblr). We use the secure APIs supplied by Facebook and Twitter to connect and we don't pry into your personal data. We will never spam or sell your email address. We regard security very highly and make sure to take all precautions. We recommend you do the same when dealing with buyers/sellers you do not know.</p>
			</div>
		</article>	
		
		<article class="row">
			<div class="col6 white_well">
				<h2 class="bottom_border">Contact</h2>
				<p>We appreciate questions, comments and feedback that help us provide you with a better product experience. We're working on gathering feedback to create an FAQ that we'll roll into the next build. <%= link_to "Get in touch!", contact_path %></p>
			</div>
		</article>
		
	</div>
	
</section>	