<% provide(:title, 'Contact') %>
<div class="row">
	<div class="col4 offset1">
		<h1 class="row">Considering coming back?</h1>
	</div>

	<div class="col4 offset1">
		<h4 class="row">Reactivation is easy</h4>
		<p class="row">Placeholder for user reactivation request.</p>
	</div>
</div>