<% provide(:title, 'Contact') %>
<div class="row">
	<div class="col4 offset1">
		<h1 class="row">Your have been placed in time out due to a terms of service violation.</h1>
		<p class="row">If you feel you have reached this page in error, please contact customer support.</p>
	</div>
</div>