<% provide(:title, 'Terms of Service') %>

<section class="wrapper termsOfService">
	<header>
		<h1 class="bottom_border row">Terms of Service</h1>
	</header>
	<%= render "static_pages/terms_of_service" %>
</section>