<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Dear <%= @user.name %>,</p>
<p>
  This email is to inform you that your Slinggit account registered to this email address has been deleted.
</p>

<p>
  We are sad to see you go.  If you deleted your account because Slinggit lacks a feature you want, please let us know so we can improve our service.
</p>

<p>
  If you change your mind, deleted your account by mistake or did not authorize your account deletion, you can always use the
  link below to restore your account and pick up right where you left off.
</p>

<p>
  <a href="<%= @reactive_url %>"><%= @reactive_url %></a>
</p>

<p>Sincerely,</p>

<p>Your friends at Slinggit</p>
</body>
</html>