<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Content has been flagged,</p>
<p>
  A <%= @flagged_content.source %> object has been flagged by a user.<br/><br/>
  Object ID: <%= @flagged_content.id %><br/>
  Object Data:<br/>
  <% if not @flagged_content.source_object.blank? %>
      <% @flagged_content.source_object.attributes.each do |key, value| %>
          <%= key %> : <%= value %><br/>
      <% end %>
  <% else %>
      No object data could be found. Look up item in the flagged_contents table.
  <% end %>
</p>
</body>
</html>