<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Hi there <%= @user.name %>,</p>
<p>
  We received a request to help you reset your password.  Just click the link below and you will be on your way.
</p>
<p>
  <a href="<%= url_for :controller => :users, :action => :enter_new_password, :id => @user.password_reset_code, :only_path => false, :host => HOSTURL %>"><%= url_for :controller => :users, :action => :enter_new_password, :id => @user.password_reset_code, :only_path => false, :host => HOSTURL %></a>
</p>
<p>If you did not submit a request to reset your password, please ignore this email.</p>
<p>Sincerely,</p>

<p>Your friends at Slinggit</p>
</body>
</html>