<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Post monitor report</p>
<p>
  <%= @posts_closed %> posts were closed by the monitor.
</p>
</body>
</html>