<div>
  <% if not @invitations.blank? %>
      <% @invitations.each do |invitation| %>
          <li>
            <%= invitation.email %>
            | <%= link_to "approve", {:controller => :admin, :action => :approve_invitation, :id => invitation.id}, confirm: "Approve: You sure?" %>
          </li>
      <% end %>
  <% else %>
    No invitations found.
  <% end %>
</div>
