<% provide(:title, "Reset Password") %>

<br/>
<section class="wrapper page_col singleWide">
  <header>
    <h1>Reset Password</h1>
  </header>

  <p>In order to reset your password, please enter the email or username you used to register for Slinggit.</p>

  <%= form_tag('/users/password_reset') do |f| %>
      <fieldset>
        <br/>
        <%= label_tag "Email or Username" %>
        <%= text_field_tag :email_or_username, @email_or_username, :placeholder => 'Email or Username', class: "input-xlarge" %>
      </fieldset>
      <br/>
      <fieldset>
        <%= submit_tag "Send Reset Instructions", class: "btn", :id => 'send_reset_instructions' %>
      </fieldset>
  <% end %>

</section>
