// MODALS
// ------

// Recalculate z-index where appropriate
// .modal-open {
//   .dropdown-menu {  z-index: @zindexDropdown + @zindexModal; }
//   .dropdown.open { *z-index: @zindexDropdown + @zindexModal; }
//   .popover       {  z-index: @zindexPopover  + @zindexModal; }
//   .tooltip       {  z-index: @zindexTooltip  + @zindexModal; }
// }

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  // Fade for backdrop
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(80);
}

// Base modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  @include modal-sizer(300px);
  background-color: $white;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #999; /* IE6-7 */
  @include rounded-corners(6px);
  @include box-shadow($modal-shadow);
  @include background-clip(padding-box);
  &.fade {
    @include transition;
    top: -25%;
  }
  &.fade.in { top: 50%; }
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  // Close icon
  .close { margin-top: 2px; }

  h3{
    font-size: $font-size * 1;
  }
}

// Body (where all modal content resides)
.modal-body {
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
// Remove bottom margin if need be
.modal-form {
  margin-bottom: 0;

  fieldset.row{
    margin-bottom: 10px;
    padding-left: 20px;
    input[type="radio"]{
      margin-top: 10px;
    }
    label{
      margin-top: 0;
      font-size: $font-size * .7;
    }
  }
}

// Footer (for actions)
.modal-footer {
  //Cleafix issue.  Need to refactor when we have more than one modal.
  padding: 15px 15px 70px 15px;
  //margin-bottom: 0;
  text-align: right; // right align buttons
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  @include rounded-corners(0 0 6px 6px);
  @include box-shadow(0 1px 0 $white);
  // Leaving this in for now, because we may want to see how bootstratp does this.
  //.clearfix(); // clear it in case folks use .pull-* classes on buttons

  button{
    font-size: $font-size * .6;
  }
}