<div class="row">
	<p>Sign In or Sign Up to comment</p>
	<p class="bottom_border">Interact with buyers and sellers.</p>
  	<div class="col3 pull_left">
    	<%= link_to "Sign In", signin_path, class: "btn_ltGrey col4 offset1" %>
  	</div>
  	<div class="col3 pull_right">
  		<%= link_to " Sign Up", signup_path, class: "btn_ltGrey col4 offset1" %>
  	</div>
</div>