<section class="wrapper createPost">
	<div class="row createPost">
		
		<article class="main">
			<header class="row">  	
				<h1 class="bottom_border">Create a post:</h1>
			</header>
			<%= render 'shared/post_form' %>
		</article>

		<aside class="secondary">
    		<div class="secondary_inner">
				<%= render 'shared/user_info' %>
			</div>
		</aside>

	</div>
</section>