#editUsers{
	#editUserFormWrapper{
		margin-top: 20px;
		p{
			display: block;
			background-color: $wht;
			color: $main-grey;
			margin-top: 10px;
			padding: 4px 0px 4px 4px;
			border: 1px solid $lt-grey;
			border-top: 2px solid $lt-grey;
		}
	}
}