#newSessionWrapper {
	#forgot_password {
		margin-top: $smallest-font;
		font-size: $smaller-font;
		text-align: right;
	}
	//#orSignupActions {
		//a {
			//background: lighten($main-blue, 15%);
			//color: $white;
			//margin-left: ($smallest-font * .75);
			//font-weight: 600;
			//@include rounded-corners($smallest-font);
			//padding: ($smallest-font * .25) ($smallest-font * .75);
		//}
	//}
}